{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
      "transform-runtime",
      "syntax-trailing-function-commas",
      "transform-class-properties",
      "transform-object-rest-spread",
      ["import", {
          "libraryName": "antd",
          "style": true
        }
      ]
   ],
  "comments": false,
  "env": {
      "development": {
          "presets": ["react-hmre"]
      },
      "production": {
           "presets": ["react-app"]
      }
  }
}
