{
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": "airbnb", 
    "parserOptions": {
        "ecmaFeatures": {
            "classes": true,
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    // "plugins": [
    //     "standard",
    //     "react"
    // ],
    "globals": {},
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolve": {
            "moduleDirectory": ["node_modules", "src"],
            "webpack": {
                "config": "build/webpack.base.conf.js"
            }
        }
    },
    "rules": {
        "no-console": 0,
        // "no-case-declarations": 0,
        "semi": 0,
        "react/jsx-filename-extension": 0,
        "react/prefer-stateless-function": 0,
        "indent": 0,
        "react/jsx-indent": 0,
        "comma-dangle": 0
    }
}
