{
    "env": {
        "browser": true,
        //"node": true,
        "commonjs": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": "airbnb",
    "parserOptions": {
        "ecmaFeatures": {
            "classes": true,
            "experimentalObjectRestSpread": true,
            "jsx": true
        }
    },
    //"plugins": [
       //"standard",
       //"react"
    //],
    "globals": {
        "utils": true,
        "components": true,
        "constants": true
    },
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolve": {
            "moduleDirectory": ["node_modules", "src"],
            "webpack": {
                "config": "build/webpack.base.conf.js"
            }
        }
    },
    "rules": {
        "no-console": 0,
        "no-case-declarations": 0,
        "semi": 0,
        "react/jsx-filename-extension": 0,
        "react/prefer-stateless-function": 0,
        "indent": 0,
        "react/jsx-indent": 0,
        "comma-dangle": 0,
        "react/prop-types": 0,
        "max-len": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "no-param-reassign": 0,
        "camelcase": 0,
        "jsx-a11y/href-no-hash": 0,
        "no-plusplus": 0,
        "react/no-string-refs": 0
    }
}
